apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-infer-deployment
  namespace: dev
  labels:
    app: ml-infer
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ml-infer
  template:
    metadata:
      labels:
        app: ml-infer
    spec:
      runtimeClassName: nvidia
      containers:
      - name: ml-infer
        env:
        - name: NVIDIA_VISIBLE_DEVICES
          value: all
        - name: NVIDIA_DRIVER_CAPABILITIES
          value: compute,utility
        image: localhost:32000/ml-infer:with_images
        # resources:
        #   limits:
        #     nvidia.com/gpu: 1
